.mouth-overview {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.mouth-image-container {
    width: 512px;
    height: 512px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: transform 0.3s ease-out;
}

.mouth-image-container img {
    position: absolute; /* Allows absolute positioning inside the container */
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%; /* Make the image fill the container */
    object-fit: contain; /* Maintain aspect ratio while filling the container */
}


.canker-sore {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.slider {
    width: 100%;
    margin-top: 15px;
    display: flex;
}

.slider-container {
    text-align: left;
    margin: 15px;
}

ul {
    text-align: left;  
}

li {
    padding: 10px;
}
