

label {
  display: block;
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px black solid;
  border-radius: 5px;
}

/* Containers */

.daily-log-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.daily-log-container h2 {
  text-align: left;
}

/* .toggle-checkbox:checked {
    right: 0;
    border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #68d391;
} */

/* Headings */

h2 {
  font-size: 2rem;
  padding: 20px 0;
}